<div class="govuk-width-container">
  <h1 class="govuk-heading-xl"><%= @appeal.title %></h1>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Description</dt>
      <dd class="govuk-summary-list__value"><%= @appeal.description %></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Status</dt>
      <dd class="govuk-summary-list__value"><%= @appeal.status %></dd>
    </div>
  </dl>

  <%= link_to "Edit Appeal", edit_appeal_path(@appeal), class: "govuk-button govuk-button--secondary" %>
  <%= link_to "Back to Appeals", appeals_path, class: "govuk-button govuk-button--secondary govuk-!-margin-left-2" %>
</div>
