<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tax Tribunals App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "govuk/index", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="govuk-template__body">
    <header class="govuk-header" role="banner" data-module="govuk-header">
      <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
          <a href="/" class="govuk-header__link govuk-header__link--homepage">
            Tax Tribunals App
          </a>
        </div>
        <nav class="govuk-header__navigation">
          <ul class="govuk-header__navigation-list">
            <% if user_signed_in? %>
              <li class="govuk-header__navigation-item">
                <span class="govuk-!-color-white">Welcome, <%= current_user.email %></span>
              </li>
              <li class="govuk-header__navigation-item">
                <%= form_with url: destroy_user_session_path, method: :delete do %>
                  <%= submit_tag "Logout" %>
                <% end %>
              </li>
            <% else %>
              <li class="govuk-header__navigation-item">
                <%= link_to "Sign Up", new_user_registration_path, class: "govuk-header__link" %>
              </li>
              <li class="govuk-header__navigation-item">
                <%= link_to "Login", new_user_session_path, class: "govuk-header__link" %>
              </li>
            <% end %>
            <li class="govuk-header__navigation-item">
              <%= link_to "Appeals", appeals_path, class: "govuk-header__link" %>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="govuk-main-wrapper">
      <%= yield %>
    </main>
  </body>

</html>
